<div class="modal-header">
  <h4 class="modal-title fs-5 fw-semibold">Delete Contact</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="cancelDeletion()"
  ></button>
</div>
<div class="modal-body">
  <p>
    Are you sure you want to delete the contact
    <strong>{{ contactName }}</strong
    >?
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="confirmDeletion()">
    Delete
  </button>
  <button type="button" class="btn btn-secondary" (click)="cancelDeletion()">
    Cancel
  </button>
</div>
