<div class="card-header d-flex align-items-center justify-content-between">
  <h2 class="card-title mb-0 fs-4 fw-semibold">Contact List</h2>
  <a [routerLink]="['/contacts/new']" class="btn btn-success"
    >Add New Contact</a
  >
</div>
<div class="card-body">
  <div class="table-responsive mb-4">
    <table class="table table-bordered mb-0">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contacts">
          <td>{{ contact.id }}</td>
          <td>{{ contact.firstName }}</td>
          <td>{{ contact.lastName }}</td>
          <td>{{ contact.email }}</td>
          <td>
            <app-button
              (click)="editContact(contact)"
              btnClass="btn btn-sm btn-primary"
              label="Edit"
              ariaLabel="Edit Contact"
            ></app-button>
          </td>
          <td>
            <app-button
              (click)="openDeleteModal(contact)"
              btnClass="btn btn-sm btn-danger"
              label="Delete"
              ariaLabel="Delete Contact"
            ></app-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ngb-pagination
    [collectionSize]="totalContacts"
    [(page)]="pageIndex"
    [pageSize]="pageSize"
    (pageChange)="onPageChange($event)"
    aria-label="Contacts Pagination"
    size="md"
    class="d-flex justify-content-center"
  >
  </ngb-pagination>
</div>
